In [2]:
pip install requests

Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,115.449,8.7,17691
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,81.103,8.7,23540
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,36.624,8.6,213
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,66.967,8.6,10717
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,54.545,8.6,13917

In [7]:
import warnings
df = pd.DataFrame()
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)
    warnings.filterwarnings("ignore")

/tmp/ipykernel_84/2128574053.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df,ignore_index=True)

In [8]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,115.449,8.7,17691
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,81.103,8.7,23540
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,36.624,8.6,213
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,66.967,8.6,10717
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,54.545,8.6,13917
...,...,...,...,...,...,...,...
8555,48340,Sanctum,Master diver Frank McGuire has explored the So...,2011-02-03,23.651,6.0,896
8556,126250,Love Is All You Need,"Ida, a Danish hairdresser who has lost her hai...",2012-09-04,8.389,6.0,248
8557,35626,Return to Sleepaway Camp,It's summer camp as usual at Camp Manabe where...,2008-11-04,7.922,6.0,290
8558,10173,Marked for Death,"Just retired from the Drug Enforcement Agency,...",1990-10-05,16.532,6.0,425
8559,5820,The Sentinel,A secret service agent is framed as the mole i...,2006-04-19,13.490,6.0,662

In [9]:
df.shape

(8560, 7)